# --- Python Environment ---
.venv-1/
.venv/
env/
venv/
__pycache__/
*.pyc

# --- Data Files (Too large for GitHub) ---
data/
*.tsv
*.parquet
*.csv

# --- Mac OS junk files ---
.DS_Store

# --- VS Code settings ---
.vscode/

# --- Logs ---
all_logs.txt
*.log

communitynotes/scoring/src/ratings

# Ignore Data Folders
communitynotes/scoring/src/data/
communitynotes/scoring/src/data-1/
communitynotes/scoring/src/data-new/
communitynotes/scoring/src/ratings/
communitynotes/scoring/src/cn_output/

# Ignore Large Data Files
*.tsv
*.parquet
*.csv
*.zip
*.gz

# Ignore Logs and System Files
*.txt
*.log
.DS_Store
__pycache__/

# Ignore Environment
.venv/
.venv-1/
env/
venv/